name: CI

on:
  pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    permissions:
      contents: read
      id-token: write # OIDC with Codecov
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum

    - name: Test
      run: go test -v -json -race -covermode atomic -coverprofile coverage.txt ./... 2>&1 | go tool go-junit-report -parser gojson -set-exit-code > junit.xml

    - name: Upload coverage to Codecov
      if: ${{ !cancelled() }}
      uses: acouvreur/codecov-action@main
      with:
        use_oidc: true
        fail_ci_if_error: true

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        use_oidc: true
        fail_ci_if_error: true

    - name: Run Basic Test Results Action
      if: ${{ !cancelled() }}
      uses: codecov/basic-test-results@v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: junit.xml
        disable-search: true